.background {
	padding: 1rem;
	margin-bottom: 2rem;
	margin-top: 3rem;
	margin-bottom: 3rem;
	background-color: white;
}

.skillsButtons {
	display: flex;
	justify-content: space-evenly;
	margin: 2rem auto 0 auto;
	max-width: 60rem;
	width: 90%;
}

.skillsSwitch {
	display: none;
}

.switchCard {
	width: 3rem;
	height: 3rem;
}

.stepper {
	background-color: white;
	color: black;
	border: none;
	margin: 1rem 1rem 2rem 1rem;
	font-size: 20px;
}

.stepper:hover {
	background-color: white;
	color: rgb(231, 130, 63);
	border: none;
}

.stepper:active {
	background-color: white;
	border: none;
	font-size: 23px;
}

.switchCard img {
	width: 3rem;
	height: 3rem;
}

.button {
	border: none;
	background-color: unset;
}

.context {
	display: flex;
	justify-content: space-evenly;
	margin: 2rem auto;
	max-width: 60rem;
	width: 90%;
}

.context2 {
	display: flex;
	justify-content: space-evenly;
	margin: 2rem auto;
	max-width: 60rem;
	width: 90%;
}

.context p {
	display: flex;
	justify-content: space-evenly;
	font-style: italic;
	color: #838383;
	font-size: 0.75rem;
	animation: context-appear 0.5s ease-out forwards;
}

@keyframes context-appear {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@media (max-width:480px) {
	.skillsButtons {
		display: none;
	}

	.skillsSwitch {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 2rem auto 0 auto;
		max-width: 60rem;
		-webkit-tap-highlight-color: transparent;
		user-select: none;
		width: 90%;
	}
}