.skillItem {
	width: 3rem;
	height: 3rem;
	margin-bottom: 0;
}

.mainImageToggleOn {
	width: 3rem;
	height: 3rem;
}

.mainImageToggleOn img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transform: rotateZ(-5deg) translateY(-4rem) translateX(-2rem);
	animation: img-toggleOn 0.5s ease-out forwards;
}

.mainImageToggleOff {
	width: 3rem;
	height: 3rem;
}

.mainImageToggleOff img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	animation: img-toggleOff 0.5s ease-out forwards;
}

@keyframes img-toggleOn {
	from {
		transform: rotateZ(0) translateY(0) translateX(0);
	}

	to {
		transform: rotateZ(-5deg) translateY(-2.5rem) translateX(-2rem);
	}
}

@keyframes img-toggleOff {
	from {
		transform: rotateZ(-5deg) translateY(-2.5rem) translateX(-2rem);
	}

	to {
		transform: rotateZ(0) translateY(0) translateX(0);
	}
}