.contact {
	display: flex;
	margin: auto;
	width: 90%;
}

.text {
	display: flex;
	justify-content: space-between;
	margin: auto;
	padding-bottom: 1rem;
	color: #3f3f3fbf;
	font-size: small;
	align-items: center;
}

@media (max-width:480px) {
	.contact {
		display: inline-grid;
		margin: auto;
		width: 100%;
		justify-content: center;
	}

	.text {
		display: inline-grid;
		justify-items: center;
	}
}